# The Movie Database (TMDB) API Configuration
NEXT_PUBLIC_TMDB_API_KEY=your_tmdb_api_key_here
NEXT_PUBLIC_TMDB_BASE_URL=https://api.themoviedb.org/3

# Proxy Configuration (For Serverless Environments like Vercel)
STREAM_PROXY_URL=https://cinestream-proxy.ahsanali-dev.deno.net
CLOUDFLARE_WORKER_PROXY_URL=https://cinestream-proxy.ahsan-dev98.workers.dev

# NetMirror Multi-Audio Session Cookie
NETMIRROR_COOKIE=14840b2ca5ff6340cc40594ea2b47171%3A%3Adb15a6012f2c06027ce4d0b198f5acca%3A%3A1789689641%3A%3Akp%3A%3Ap
